.content
    .contentTitle
        span.titleChName 设备健康状态
        span.titleZhName EQUIPMENT HEALTH STATUS
    div
        ul.legend-ul
            li
                span.legend-ico.ico-color1
                span.legend-name 无风险
            li
                span.legend-ico.ico-color2
                span.legend-name 25%
            li
                span.legend-ico.ico-color3
                span.legend-name 50%
            li
                span.legend-ico.ico-color4
                span.legend-name 75%
    #main