.card(style="height: calc(50vh - 77px); margin: 8px 4px 0 8px; padding: 12px")
  card-border(controller="vm" parameters='{ title: "维保运行情况", desc: ["维保总单数（单）", count, "单"] }')
  .col.s12.l12(style="padding: 0; height: calc(42vh - 4rem);")
    .col.s7.l7(style="height: 100%; padding: 0 6px 0 0;")
      show-lines(controller="vm" parameters="{ data, date, series }")
    .col.s5.l5(style="height: 100%; padding: 0 0 0 6px;")
        div(ng-repeat="item in equipData" style="width: 50%; float: left; height: 32vh;margin-top:2vh;")
          capacity-bar(controller="vm" parameters="{ key: item.key, val: item.val, max: item.max }")
      //div(style="width: 100%; height: 30%;")
      //  transverse-bar(controller="vm" parameters="{ data: transData }")
      //div(style="width: 100%; height: 70%;")
      //  ring-layers(controller="vm" parameters="{ data: rings }")
