stream-curve-look ul#abcSeriesList {
  background-color: #02204e;
  border-radius: 4px;
  border: 1px solid #00a7ff; }
  stream-curve-look ul#abcSeriesList li:hover {
    background-color: #00a7ff; }

stream-curve-look ul#streamLegendList {
  background-color: #02204e;
  border-radius: 4px;
  border: 1px solid #00a7ff; }
  stream-curve-look ul#streamLegendList li:hover {
    background-color: #00a7ff; }

stream-curve-look .stream-card {
  box-shadow: none !important;
  margin-top: 0;
  width: 100%;
  height: 100%; }
  stream-curve-look .stream-card .fullscreen {
    cursor: pointer;
    position: absolute;
    bottom: 0.5rem;
    right: 0.6rem;
    width: 3rem;
    height: 3rem;
    text-align: center;
    border-radius: 50%;
    background-color: rgba(26, 69, 162, 0.4); }
  stream-curve-look .stream-card .stream-title-box {
    width: 100%;
    height: 12%; }
    stream-curve-look .stream-card .stream-title-box .left-button-box {
      float: left;
      height: 100%;
      padding-top: 15px; }
      stream-curve-look .stream-card .stream-title-box .left-button-box .stream-btn:hover {
        background: #00a7ff; }
      stream-curve-look .stream-card .stream-title-box .left-button-box .stream-btn {
        margin-right: 10px;
        border-radius: 4px;
        height: 38px !important;
        border: 1px solid #00a7ff !important; }
        stream-curve-look .stream-card .stream-title-box .left-button-box .stream-btn img {
          margin-right: 5px;
          height: 22px;
          margin-bottom: 2px;
          vertical-align: middle; }
        stream-curve-look .stream-card .stream-title-box .left-button-box .stream-btn span {
          font-size: 16px;
          color: #f4f7ff; }
      stream-curve-look .stream-card .stream-title-box .left-button-box .stream-title {
        float: left;
        width: 180px;
        font-size: 22px;
        height: 100%;
        text-align: center; }
    stream-curve-look .stream-card .stream-title-box .text-file-box {
      float: right;
      height: 100%;
      width: 36%; }
      stream-curve-look .stream-card .stream-title-box .text-file-box .search-legend-classify {
        height: 38px;
        margin-top: 15px;
        font-size: 14px;
        font-weight: 400;
        margin-right: 20px; }
        stream-curve-look .stream-card .stream-title-box .text-file-box .search-legend-classify #abcSeriesList {
          width: 160px; }
          stream-curve-look .stream-card .stream-title-box .text-file-box .search-legend-classify #abcSeriesList li {
            font-size: 16px; }
        stream-curve-look .stream-card .stream-title-box .text-file-box .search-legend-classify #streamLegendList {
          width: 200px; }
          stream-curve-look .stream-card .stream-title-box .text-file-box .search-legend-classify #streamLegendList li {
            font-size: 16px; }
        stream-curve-look .stream-card .stream-title-box .text-file-box .search-legend-classify .data-select-name {
          margin-right: 10px;
          height: 40px;
          line-height: 38px;
          vertical-align: middle;
          float: left; }
          stream-curve-look .stream-card .stream-title-box .text-file-box .search-legend-classify .data-select-name span {
            font-size: 16px; }
        stream-curve-look .stream-card .stream-title-box .text-file-box .search-legend-classify .signal-legend-classify:focus {
          outline: none !important; }
        stream-curve-look .stream-card .stream-title-box .text-file-box .search-legend-classify .signal-legend-classify {
          margin-right: 20px;
          background-color: rgba(26, 69, 162, 0.4);
          border: 1px solid #00a7ff;
          border-radius: 4px;
          color: #f4f7ff;
          height: 38px;
          display: inline-block;
          box-shadow: none; }
          stream-curve-look .stream-card .stream-title-box .text-file-box .search-legend-classify .signal-legend-classify span:focus {
            outline: none !important; }
          stream-curve-look .stream-card .stream-title-box .text-file-box .search-legend-classify .signal-legend-classify span {
            text-align: center;
            display: inline-block;
            line-height: 38px;
            height: 38px; }
          stream-curve-look .stream-card .stream-title-box .text-file-box .search-legend-classify .signal-legend-classify .left-equip-box {
            width: 160px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap; }
          stream-curve-look .stream-card .stream-title-box .text-file-box .search-legend-classify .signal-legend-classify .right-equip-box {
            width: 38px;
            float: right;
            color: #00d5ff; }
        stream-curve-look .stream-card .stream-title-box .text-file-box .search-legend-classify .series-selections .left-equip-box {
          width: 120px !important; }
  stream-curve-look .stream-card .stream-content-box {
    width: 100%;
    height: 88%; }
    stream-curve-look .stream-card .stream-content-box .left-stream-content {
      float: left;
      height: 100%;
      width: 15%;
      padding-left: 1%;
      padding-top: 2%; }
    stream-curve-look .stream-card .stream-content-box .stream-content-item {
      width: 100%;
      height: 18%; }
      stream-curve-look .stream-card .stream-content-box .stream-content-item .item-title {
        font-size: 14px;
        color: #9ca5c1; }
      stream-curve-look .stream-card .stream-content-box .stream-content-item .item-content {
        width: 100%;
        height: 4rem; }
        stream-curve-look .stream-card .stream-content-box .stream-content-item .item-content span {
          font-size: 16px;
          color: #ebeef7; }
        stream-curve-look .stream-card .stream-content-box .stream-content-item .item-content .strong-red {
          color: red; }
    stream-curve-look .stream-card .stream-content-box .right-stream-content {
      float: right;
      height: 100%;
      width: 12%;
      padding-top: 2%; }
    stream-curve-look .stream-card .stream-content-box .no-stream-data {
      width: 70%;
      float: left;
      height: 100%; }
      stream-curve-look .stream-card .stream-content-box .no-stream-data .no-title-box {
        margin-top: 25%;
        width: 100%;
        text-align: center;
        height: 15%; }
        stream-curve-look .stream-card .stream-content-box .no-stream-data .no-title-box span {
          font-size: 18px; }
    stream-curve-look .stream-card .stream-content-box .stream-card-content1 {
      width: 70%;
      float: left;
      height: 49%; }
      stream-curve-look .stream-card .stream-content-box .stream-card-content1 #ss-chart1 {
        display: block;
        width: 100%;
        height: 100%; }
    stream-curve-look .stream-card .stream-content-box .stream-card-content2 {
      width: 70%;
      float: left;
      height: 49%;
      margin-top: 10px; }
      stream-curve-look .stream-card .stream-content-box .stream-card-content2 #ss-chart2 {
        display: block;
        width: 100%;
        height: 100%; }
