.content(style='padding: 16px 0')
    .contentTitle
        span.titleChName 设备资产
        span.titleZhName EQUIPMENT ASSETS
    .contentSubject
        //.echartsContent(style="height:100%;")
        pictorial-data-predict(controller='vm',parameters='{types:["motor","switch-box","inverter","transformer"]}')