prediction-alarm .content {
  width: 100%;
  height: calc(33.3% - 0.75rem);
  padding: 16px;
  background: rgba(4, 18, 57, 0.7);
  border-radius: 20px;
  margin-bottom: 0.75rem; }

prediction-alarm .contentTitle {
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 14%;
  border-bottom: 1px solid #00A7FF;
  padding-bottom: 2%; }

prediction-alarm .titleChName {
  font-size: 18px; }

prediction-alarm .titleZhName {
  margin-left: 10px;
  font-size: 14px;
  color: #b4b6bf; }

prediction-alarm .contentSubject {
  text-align: center;
  width: 100%;
  height: 86%; }
