stream-compare
  .nav-top report-query-time .report-time li.report-li:nth-of-type(2)
    margin: 0 4px
  ul#abcSeriesList
    background-color: rgba(2,32,78,1)
    border-radius: 4px
    border: 1px solid rgba(0,167,255,1)
    li:hover
      background-color: rgba(0,167,255,1)
  ul#streamLegendList
    background-color: rgba(2,32,78,1)
    border-radius: 4px
    border: 1px solid rgba(0,167,255,1)
    li:hover
      background-color: rgba(0,167,255,1)
  device-tree
    .tree
      height: 78.7vh
  .device-tree
    width: 20%
    height: 85%
  .previous-stream
    .data-select-name
      float: left
      margin-right: 4px
      font-size: 14px
    #previousData
      width: 240px
      li
        font-size: 16px
    .previous-stream-select:focus
      outline: none !important
    .previous-stream-select
      margin-top: 0.7rem
      margin-right: 20px
      padding: 0
      background-color: rgba(26,69,162,0.4)
      border: 1px solid rgba(16,235,244,1)
      color: #ffffff
      height: 40px
      display: inline-block
      box-shadow: none
      span:focus
        outline: none !important
      span
        text-align: center
        display: inline-block
        line-height: 39px
        height: 39px
      .left-equip-box
        width: 200px
        overflow: hidden
        text-overflow: ellipsis
        white-space: nowrap
        border-right: 1px solid rgba(16,235,244,1)
      .right-equip-box
        width: 38px
        float: right
        color: rgba(0,213,255,1)
  .stream-chart-contaner
    width: 80%
    overflow: auto
    height: 84.5vh
    background-color: rgba(26, 69, 162, 0.4) !important
    .stream-header-contaner
      height: 4rem
      width: 100%
      .left-button-box
        float: left
        height: 100%
        padding-top: 15px
        .stream-btn:hover
          background: rgba(0,167,255,1)
        .stream-btn
          margin-right: 10px
          border-radius: 4px
          height: 38px !important
          border: 1px solid rgba(0,167,255,1) !important
          img
            margin-right: 5px
            height: 22px
            margin-bottom: 2px
            vertical-align: middle
          span
            font-size: 16px
            color: rgba(244,247,255,1)
        .stream-title
          float: left
          width: 180px
          font-size: 22px
          height: 100%
          text-align: center

      .text-file-box
        float: right
        height: 100%

        .search-legend-classify
          height: 38px
          margin-top: 15px
          font-size: 14px
          font-weight: 400
          margin-right: 20px
          #abcSeriesList
            width: 160px
            li
              font-size: 16px
          #streamLegendList
            width: 200px
            li
              font-size: 16px
          .data-select-name
            margin-right: 10px
            height: 40px
            line-height: 38px
            vertical-align: middle
            float: left
            span
              font-size: 16px

          .signal-legend-classify:focus
            outline: none !important
          .signal-legend-classify
            margin-right: 20px
            background-color: rgba(26,69,162,0.4)
            border: 1px solid rgba(0,167,255,1)
            border-radius: 4px
            color: #ffffff
            height: 38px
            display: inline-block
            box-shadow: none
            span:focus
              outline: none !important
            span
              text-align: center
              display: inline-block
              line-height: 38px
              height: 38px
            .left-equip-box
              width: 160px
              overflow: hidden
              text-overflow: ellipsis
              white-space: nowrap
              //border-right: 1px solid rgba(16,235,244,1)
            .right-equip-box
              width: 38px
              float: right
              color: rgba(0,213,255,1)
          .series-selections
            .left-equip-box
              width: 120px !important
    .stream-analysis-container1
      height: 77vh
      width: 100%
      .left-stream-content
        float: left
        height: 100%
        width: 15%
        padding-left: 1%
        padding-top: 2%
      .stream-content-item
        width: 100%
        height: 18%
        .item-title
          font-size: 14px
          color: rgba(156,165,193,1)
        .item-content
          width: 100%
          //height: 4rem
          span
            font-size: 16px
            color: rgba(235,238,247,1)
          .strong-red
            color: red
      .stream-card-content2
        width: 80%
        float: left
        height: 100%
        .no-title-box
          margin-top: 25%
          width: 100%
          text-align: center
          height: 15%
          span
            font-size: 18px
      .stream-card-content1
        width: 80%
        float: left
        height: 100%
        #ss-origin-chart
          display: block
          width: 65vw
          height: 76vh

    .stream-analysis-container2
      height: 77vh
      width: 100%
      .left-stream-content
        float: left
        height: 100%
        width: 15%
        padding-left: 1%
        padding-top: 2%
      .stream-content-item
        width: 100%
        height: 18%
        .item-title
          font-size: 14px
          color: rgba(156,165,193,1)
        .item-content
          width: 100%
          span
            font-size: 16px
            color: rgba(235,238,247,1)
          .strong-red
            color: red
      .right-stream-content
        float: right
        height: 100%
        width: 12%
        padding-top: 2%
      .no-stream-data
        width: 70%
        float: left
        height: 100%
        .no-title-box
          margin-top: 25%
          width: 100%
          text-align: center
          height: 15%
          span
            font-size: 18px
      .stream-card-content1
        width: 70%
        float: left
        height: 49%
        #ss-chart1
          display: block
          width: 100%
          height: 100%
      .stream-card-content2
        width: 70%
        float: left
        height: 49%
        margin-top: 10px
        #ss-chart2
          display: block
          width: 100%
          height: 100%
