station-device-status .content {
  height: 230px; }

station-device-status .species-box {
  height: 24vh; }

station-device-status .species-title {
  height: 10%;
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between; }

station-device-status .city {
  display: flex;
  flex-direction: row;
  align-items: center; }

station-device-status .title {
  margin-left: 0.6em; }

station-device-status .species {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80%; }

station-device-status .type-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 46%;
  height: 44%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 4px; }

station-device-status .box-bac1 {
  background: linear-gradient(rgba(16, 235, 244, 0.8), rgba(16, 235, 244, 0.4)); }

station-device-status .box-bac2 {
  background: linear-gradient(rgba(111, 148, 191, 0.8), rgba(111, 148, 191, 0.4)); }

station-device-status .box-bac3 {
  background: linear-gradient(rgba(237, 43, 75, 0.8), rgba(237, 43, 75, 0.4)); }

station-device-status .box-bac4 {
  background: linear-gradient(rgba(243, 188, 15, 0.8), rgba(243, 188, 15, 0.4)); }

station-device-status .box {
  margin-left: 12%;
  width: 88%;
  height: 90%; }

station-device-status .number {
  width: 100%;
  height: 60%;
  font-size: 2rem;
  font-family: 'DIN'; }

station-device-status .type-name {
  font-size: 0.875rem; }
