.card(style="box-shadow: none !important;margin-top:0;height:100%;background-color:#06113B;")
    .card-content.no-padding(style='height:100%;')
        .ss-chart(ng-style='{"height":parameters.height || "100%"}' style="border: 1px solid #173169;height:100%;")