//-
    User: Pu
    Date: 2020/03/22
    Desc: 
    
.row
    //report-historysignal.col.s12(controller="vm", parameters="{type:'signal',chartType:'line', pageItems:50}")
    report-stream-signal.col.s12(controller="vm", parameters="{pageItems:10}")