//-
    User: Pu
    Date: 2020/03/24
    Desc: 

.row
    station-breadcrumbs.col.s12(controller='vm')
    graphic2-box.col.s6(controller='vm',parameters="{templateId:'electric-machinery'}" style='height:600px;')
    //graphic3-box.col.s6(controller='vm',parameters="{templateId:'electric-machinery',height:'600px'}" style='height:600px;')
