link(type='text/css', rel='stylesheet', ng-href='{{getComponentPath("icon/iconfont.css")}}')
.content
    .contentTitle
        span.titleChName 设备主要信号
        span.titleZhName EQUIPMENT MAIN SIGNAL
    .objHeader
        .objInfo
            img(ng-src="{{getComponentPath('images/'+equipment.model.type+'.svg')}}")
            span {{equipment.model.name}}
            span.iconfont.icon-xiangxia(ng-click='showEquipsFlag = showEquipsFlag?false:true')
        .retHome(ng-click='clickStation()')
            span.iconfont.icon-home-line
            span 返回站点
    ul.deviceSignal(ng-show='!showEquipsFlag')
        li.signalBox.modal-trigger(ng-repeat="signalData in signalDataArr" data-target='opc-modal' ng-click='checkSignal(signalData)' ng-style="{'border-color': signalData.severityColor}")
            .signalNum(ng-style="{color:signalData.severityColor}")
                span(title='{{signalData.severityColor}}') {{signalData.setValue}}
                span {{signalData.unit}}
            .signalName(ng-style="{color:signalData.severityLabelColor}")
                span.spanStyle {{signalData.signalName}}
    .checkEquip(ng-show='showEquipsFlag')
        pictorial-data-device(controller='vm',parameters='{hidePopup:true}' ng-show='showEquipsFlag')

#opc-modal.modal.modal-fixed-footer(md-modal,style="width: 1200px;height:650px;margin-top:100px;border:1px solid #0e73bb;border-radius:12px;")
    .modal-content(style="height:100% !important;padding:0 !important;background-color:rgba(4,18,57,1);")
        .closepart(style="position:absolute;right:15px;top:15px;z-index:999;")
            div(style="width:30px;height:40px;line-height:40px;display:block;text-align:center;cursor:pointer;" ng-click="hidemodal()")
                span.white-text(style="font-size:40px;" ng-click="hidemodal()") ×
        div(style='height:100%')
            .video(style="display:block;height:100%")
                opc-curve(controller='vm',parameters='{station:station.model.station,equipment:equipment.model.equipment,signalIds:[currentOpcSignal.signalID],"colors":["#00A7FF"],yname:currentOpcSignal.unit,title:chartTitle}',)
