.row.dashboard-mobile
    .col.s9.m9.l9(style="padding-right: 0;height:100%")
        station-map-predict(controller="vm" parameters="{}")
    .col.s3.m3.l3(style="height:100%")
        device-overview.device-overview(controller="controller" parameters="{}")
        station-overview.station-overview(controller="controller" parameters="{}")